
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: rgba(255,51,153,.05);
}
div{
    display: block;
}





header{
    position: fixed;
    top: 0;
    left: 0; right: 0;
    background: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color:#333;
    cursor: pointer;
    
}
header .logo span{
    color:#e16d0f;

}
header .navbar a{
 font-size: 2rem;
 padding:0 1.2rem;
 color: #666;
}

header .navbar a:hover{
    color:#e16d0f;
}
header .icon a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;

} 
header .icon a:hover{
    color:#e16d0f;
    
} 


.buttons-container {
           position: absolute;
           top: 60px; 
           display: none;
           background: #fff;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           padding: 10px;
           border-radius: 4px;
       }

       .buttons-container button {
           display: block;
           width: 100%;
           padding: 8px;
           margin-bottom: 8px;
           background: #e16d0f;
           color: #fff;
           border: none;
           border-radius: 4px;
           cursor: pointer;
       }

header #toggler{
    display: none;

}
header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}



header #toggler:checked ~ .navbar{
    clip-path: polygon(0 0 , 100% 0 ,100 0 , 0 0);

}
 
 
.center-text span {
           color: #e84393;
       }

       .center-text {
           text-align: center;
           font-size: 1.3rem;
           font-weight: bolder;
           color: #010101;
           padding: 1rem;
           margin: 2rem 0;
           background: rgba(255, 51, 153, .05);
       }

       .new-content {
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(200px, auto));
           align-items: center;
           margin-top: 4.5rem;
           gap: 3.5rem;
           text-align: center;
           justify-content: center;
       }
form {
       background-color: rgba(255 255 255 / 0%);
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgb(65 0 39 / 58%);
       width: 300px;
       margin-right: 20px;
       backdrop-filter: blur(8px);
   }

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 8px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*media quary*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding:2rem;
    }
    .home{
        background-position: left;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
      position: absolute;
      top: 0; left: 0; right: 0;
      background: #eee;
      border-top: .1rem solid rgba(0,0,0,.1);
       
       
    }

     
    header .navbar a{
       margin: 1.5rem;
       padding:1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
      }
      .home .conthome h3{


        font-size: 5rem;
      }
      .home .conthome span{
        font-size: 2.5rem;
      }
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
     .heading{
        font-size: 3rem;
     }
    
}